AZURE_LOCATION=westeurope
AZURE_RESOURCE_GROUP=rg-live-translation
SPEECH_RESOURCE_NAME=speech-live-translation
SIGNALR_RESOURCE_NAME=signalr-live-translation
ACR_NAME=acrlivetranslation
CONTAINER_APP_ENV_NAME=env-live-translation
CONTAINER_APP_NAME=api-live-translation
STATIC_WEB_APP_NAME=web-live-translation
