AZURE_LOCATION=westeurope
AZURE_RESOURCE_GROUP=rg-live-translation-dev
SPEECH_RESOURCE_NAME=speech-live-translation-dev
SIGNALR_RESOURCE_NAME=signalr-live-translation-dev
ACR_NAME=acrlivetranslationdev
CONTAINER_APP_ENV_NAME=env-live-translation-dev
CONTAINER_APP_NAME=api-live-translation-dev
STATIC_WEB_APP_NAME=web-live-translation-dev
